<div class="container">
  <h1><%= @stock.company_name %></h1>
  <div class="container">
    <h3>Details</h3>
    <p class="h6">Symbol: <%= @stock.symbol %></p>
    <p class="h6">Company: <%= @stock.company_name %></p>
    <p class="h6">Exchange: <%= @stock.exchange %></p>
    <p class="h6">Industry: <%= @stock.industry %></p>
    <p class="h6">Website: <a href="<%= @stock.website %>" <%= @stock.website %>></a></p>
    <p class="h6">Description: <%= @stock.description %></p>
    <p class="h6">CEO: <%= @stock.ceo %></p>
    <p class="h6">Issue Type: <%= @stock.issue_type %></p>
    <p class="h6">Sector: <%= @stock.sector %></p>
  </div>
  <table class="table table-striped">
    <thead>
    <th scope="col">Date</th>
    <th scope="col">Open</th>
    <th scope="col">Close</th>
    <th scope="col">High</th>
    <th scope="col">Low</th>
    <th scope="col">Volume</th>
    <th scope="col">Change Percent</th>
    </thead>
    <tbody>
    <% @chart_data.each do |data| %>
      <tr>
        <th scope="row"><%= data.date %></th>
        <th><%= data.open %></th>
        <th><%= data.close %></th>
        <th><%= data.high %></th>
        <th><%= data.low %></th>
        <th><%= data.volume %></th>
        <th><%= data.change_percent %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>