<div class="container">
  <h1><%= @stock.company_name %></h1>
  <div class="container">
    <h3>Details</h3>
    <p class="h6">Symbol: <%= @stock.symbol %></p>
    <p class="h6">Company: <%= @stock.company_name %></p>
    <p class="h6">Exchange: <%= @stock.exchange %></p>
    <p class="h6">Industry: <%= @stock.industry %></p>
    <p class="h6">Website: <a href="<%= @stock.website %>" <%= @stock.website %>></a></p>
    <p class="h6">Description: <%= @stock.description %></p>
    <p class="h6">CEO: <%= @stock.ceo %></p>
    <p class="h6">Issue Type: <%= @stock.issue_type %></p>
    <p class="h6">Sector: <%= @stock.sector %></p>
  </div>
</div>