<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar sticky-top navbar-light bg-light">
  <h3 class=".navbar-brand"><a class="navbar-brand" href="#">Stock Tracker</a></h3>
  <div class="form-inline" id="navbarText">
    <% if signed_in? %>
      <span class="navbar-text mr-sm-2">Signed in as: <%= current_user.email %></span>
      <%= button_to 'Sign out', sign_out_path, method: :delete, class: "mr-sm-2" %>
    <% end %>
  </div>
</nav>
<div class="container-md">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div role="alert" class="alert flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>
</div>
</body>
</html>
